.idea/
*.npy
*.npz
*.torch
*.pth
*.pkl
*.pt
logs/*
*.pyc
data/*/
myenv/
__pycache__/
outputs/*
steer_vecs/*
figs/*.pdf
*.pdf
autoevaluator.log
*.env
results/*
saved_evaluations/*
*.zip
*.ipynb_checkpoints*
*.log
unsloth_compiled_cache/*
PEFT_models/*
results_old/*
wandb/*
*.tar.gz
.vscode/*
